.StyledDrop-sc-16s5rx8-0 {
  background-color: #303451 !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  transform: translateY(5px);
  scrollbar-color: #303451 !important;
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

.StyledSelect__StyledContainer-znp66n-0 {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

.SelectContainer__OptionsBox-sc-1wi0ul8-0 {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

.SelectContainer__OptionBox-sc-1wi0ul8-1 {
  color: #ffffff !important;
  outline: none !important;

  &:focus {
    outline: none !important;
  }

  &.gbnUit {
    background-color: #454862;
  }
}
